* {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
    overflow-x: hidden;
}
.navbar {
    width: 99.3vw;
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.nav-logo {
    width:120px;
    height: 50px;
    background-image: url('images/amazon_logo_text1.webp');
    background-size: cover;
}
.border {
    border: 0px solid transparent;
}
.border:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.nav-location {
    width: 80px;
    height: 50px;
    padding: 0px 8px 0px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-deliver-text {
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 15px;
}
.nav-Country {
    color:white;
    font-size: 14px;
}
.navSearchBar {
    display: flex;
    border: 2px;
    width: 600px;
    height: 40px;
}
.navSearchBar:hover {
    border: 2px solid rgb(255, 153, 0);
    border-radius: 6px;
    box-sizing: border-box;
}
.searchAll {
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchText {
    width: 505px;
    border: none;
}
input:focus {
    border: none;
    outline:none !important;
    outline-width: 0 !important;
}
select:hover {
    cursor: pointer;
}
.searchIcon {
    width: 45px;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0F1111;
}
@media (min-width: 1920px) {
    .navSearchBar {
        width: 1200px;
    }
    .searchText {
        width: 1100px;
    }
    .searchIcon {
        width: 50px;
    }
}
.flagIcon {
    width: 22px;
    height: 17px;
    background-image: url('images/Flag_of_the_United_States.svg.webp');
    background-size: cover;
}
.language {
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectLang {
    width:40px;
    height: 17px;
    font-weight: bold;
    background-color: #0F1111;
    color: white;
    border: none;
}
.sign_in {
    width: 132px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcomeMsg {
    font-size: 12px;
    margin-left: 5px;
}
.accountSignin {
    font-weight: bold;
    background-color: #0F1111;
    color: white;
    border: none;
}
.return_orders {
    width: 77px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.returns {
    font-size: 12px;
}
.orders {
    font-size: 13px;
}
.Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 50px;
}
.cartIcon {
    font-size: 1.7rem;
}
.cart_text {
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
}
.nav_panel {
    width: 100vw;
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
}

.first-panel {
    width: 750px;
    height: 40px;
    display: flex;
}
.full-border {
    font-size: 14px;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
}

.third-panel {
    font-size: 14px;
    width: fit-content;
    height: inherit;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}
.full-border:hover,.third-panel:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.main_image {
    background-image: url('images/background_image1.jpg');
    background-size: cover;
    height: 310px;
    position: relative;
}
.main_message {
    width: 1220px;
    height: 40px;
    background-color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 255px;
    left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_message a {
    color: #007185;
}

@media (min-width: 1920px) {
    .main_image {
        width: 1400px;
        position: relative;
        left: 250px;
    }
}
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CCCCCC;
}

@media (min-width: 1920px) {
    .shop-section {
        width: 1400px;
        position: relative;
        left: 250px;
    }
}

@media (min-width: 1920px) {
    .background {
        background-color: #fffbfb;
    }
}

.shop-section1 {
    width: 290px;
    height: 370px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.shop-section1 h2 {
    font-size: 16px;
    padding-bottom: 5px;
}
.shop-section1 a {
    position: relative;
    top: 14px;
    font-size: 14px;
    color: #007185;
    text-decoration: none;
}
.shop-section1 a:hover {
    text-decoration: underline;
    color: rgb(228, 75, 75);
}
.sign-in-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}
.sign-in-section button {
    width: 230px;
    height: 28px;
    background-color: #febd69;
    border: 1px solid #C7511F;
    border-radius: 5px;
}
.backToTop {
    background-color: #37475A;
    height: 49px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section {
    background-color: #232f3e;
    height: 470px;
}
.footer-section1 {
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}

.getToKnowUs a, .connectWithUs a, .makeMoneyWithUs a, .letUsHelpYou a {
    color: #CCCCCC;
    text-decoration: none;
}
.getToKnowUs, .connectWithUs, .makeMoneyWithUs, .letUsHelpYou {
    color: white;
    display: flex;
    flex-direction: column;
    line-height:2;
    font-size: 14px;
}
.getToKnowUs a:hover, .connectWithUs a:hover, .makeMoneyWithUs a:hover, .letUsHelpYou a:hover {
    text-decoration: underline;
}

.footer-section2 {
    border-top: 0.5px solid rgb(92, 89, 89);
}
.logo {
    width:120px;
    height: 50px;
    background-image: url('images/amazon_logo_text2.png');
    background-size: cover;
}
.footer-section2 button {
    width: 150px;
    height: 35px;
    background-color: #232f3e;
    color: white;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 2px;
    margin: 15px;
}
.footer-section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-section3 {
    height: 100px;
    background-color: #0F1111;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.footer-section3 a {
    color: white;
    text-decoration: none;
}
.footer-section3 a:hover {
    text-decoration: underline;
}
.footerMessage {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}
